@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed|Open+Sans+Condensed:300&display=swap');
body{
    font-family: 'Open Sans Condensed', ;
    margin: 0;
    padding: 0;
}
.landing{
    background: url(../Images/IP3/assets/backgrounds/h_img.jpg) no-repeat;
    background-position: center center;
    color: white;
    text-align: center;
    min-height: 600px;
    padding-top: 17%;
    margin-bottom: 33px;
}